<mat-toolbar color="primary">
  <h1>
    ngStore 
  </h1>
  <button mat-button routerLink="/">Home</button>
  <button mat-button routerLink="/buscador">About</button>

</mat-toolbar>

<router-outlet></router-outlet>