<div style="padding: 13px;">
    <mat-spinner *ngIf="dataSource.length === 0"></mat-spinner>

    <mat-card *ngFor="let product of dataSource" style="margin-top:10px;">
        <mat-card-header>
            <mat-card-title>{{product.descripcion}}</mat-card-title>
            <mat-card-subtitle>{{product.monto}} $/ {{product.cod_art}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{product.id}}
            </p>
         
        </mat-card-content>
        <mat-card-actions>
      <button mat-button> Buy product</button>
    </mat-card-actions>
    </mat-card>
</div>